<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Strict//EN   http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>
<html>
<head>
<title>Treat Chewie</title>
<link type="text/css" href="{{static_url('css/main.css')}}" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

<script>
$(document).ready(function(){
	$("body").ready(function(){
	    $('#backdoorBG').fadeIn(3000);
	});
	
	$(".makeCall").click(function(){
		$('.makeCall').fadeOut(1000);
		$('.makeCall').fadeIn(1000);
		var data = {
			'phone': $('#phone').val(),
		};
		$.ajax({
			type: 'POST',
			url: '/backdoor',
			data: data,
            success: function(data) {},
			error: function() {}
		}); 
		$(':input','#make_call_form')
		 .not(':button, :submit, :reset, :hidden')
		 .val(''); 
	});

    $(".dispenseTreat").click(function(){
		$('.dispenseTreat').fadeOut(1000);
		$('.dispenseTreat').fadeIn(1000);
		var data = {
			'dispense': 1,
		};
		$.ajax({
			type: 'POST',
			url: '/backdoor',
			data: data,
            success: function(data) {},
			error: function() {}
		});  
	});

});
</script>
</head>

<body>

<div id="backdoorBG">	
	<div id="backdoorWrapper">
		<img class="chewiePic" src="{{static_url('img/backdoor.png')}}" />
		<p>The backdoor page is for testing and dispensing treats on demand.  You can make a facetime call and then you can click the "dispense treat" button to dispense treats.  Have fun!</p>
		<form action="/backdoor" method="POST" id="make_call_form">
				<input type="text" id="phone" name="phone" />
			<img class="makeCall" src="{{static_url('img/call.png')}}" />
		</form>
        </br>
		<form action="/backdoor" method="POST" id="dispense_form">
			<div class="submit">
			</div>	
			<img class="dispenseTreat" src="{{static_url('img/dispense.png')}}" />
		</form>
	</div>	
</div>	

</body>

</html>
