<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Strict//EN   http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>
<html>
<head>
<title>Treat Chewie</title>
<LINK href="{{static_url('css/main.css')}}" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	$("body").ready(function(){
	    $('#homeBG').fadeIn(3000);
	});

	$(".makeCall").click(function(){
		var data = {
			'phone': $('#phone').val(),
		};
		$.ajax({
			type: 'POST',
			url: '/backdoor',
			data: data,
            success: function(data) {},
			error: function() {}
		});  
	});

    $(".dispenseTreat").click(function(){
		var data = {
			'dispense': 1,
		};
		$.ajax({
			type: 'POST',
			url: '/backdoor',
			data: data,
            success: function(data) {},
			error: function() {}
		});  
	});

});
</script>
</head>

<body>

<div id="homeBG">	
	<div id="homeWrapper">
		<img class="chewiePic" src="{{static_url('img/backdoor.png')}}" />
		<p>The backdoor page is for testing and dispensing treats on demand.  You can make a facetime call and then you can click the "dispense treat" button to dispense treats on demand.  Have fun!</p>
		<form action="/backdoor" method="POST" id="make_call_form">
				<input style="float:left; margin-top: 10px;" type="text" id="phone" name="phone" />
			<img class="makeCall" style="margin-left: 20px;" src="{{static_url('img/call.png')}}" />
		</form>
        </br>
		<form action="/backdoor" method="POST" id="dispense_form">
			<div class="submit">
			</div>	
			<img class="dispenseTreat" src="{{static_url('img/dispense.png')}}" />
		</form>
	</div>	
</div>	

</body>

</html>
