<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Strict//EN   http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>
<html>
<head>
<title>Treat Chewie</title>
<link type="text/css" href="{{static_url('css/main.css')}}" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>

<script>
$(document).ready(function(){
	$("body").ready(function(){
	    $('#homeBG').fadeIn(3000);
	});
	
	jQuery.validator.addMethod("phoneUS", function(phone_number, element) {
	    phone_number = phone_number.replace(/\s+/g, ""); 
		return this.optional(element) || phone_number.length > 9 &&
			phone_number.match(/^(1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
	}, "Please specify a valid phone number");
	
	$(".makeCall").click(function(){
		$("#make_call_form").validate({
		  rules: {
		    field: {
		      required: true,
		      phoneUS: true
		    }
		  }

		});
		$('.makeCall').fadeOut(1000);
		$('.makeCall').fadeIn(1000);
		var data = {
			'phone': $('#phone').val(),
		};
		$.ajax({
			type: 'POST',
			url: '/backdoor',
			data: data,
            success: function(data) {},
			error: function() {}
		});  
	});

    $(".dispenseTreat").click(function(){
		$('.dispenseTreat').fadeOut(1000);
		$('.dispenseTreat').fadeIn(1000);
		var data = {
			'dispense': 1,
		};
		$.ajax({
			type: 'POST',
			url: '/backdoor',
			data: data,
            success: function(data) {},
			error: function() {}
		});  
	});

});
</script>
</head>

<body>

<div id="homeBG">	
	<div id="homeWrapper">
		<img class="chewiePic" src="{{static_url('img/backdoor.png')}}" />
		<p>The backdoor page is for testing and dispensing treats on demand.  You can make a facetime call and then you can click the "dispense treat" button to dispense treats.  Have fun!</p>
		<form action="/backdoor" method="POST" id="make_call_form">
				<input style="float:left; margin-top: 10px;" type="text" id="phone" name="phone" />
			<img class="makeCall" style="margin-left: 20px;" src="{{static_url('img/call.png')}}" />
		</form>
        </br>
		<form action="/backdoor" method="POST" id="dispense_form">
			<div class="submit">
			</div>	
			<img class="dispenseTreat" src="{{static_url('img/dispense.png')}}" />
		</form>
	</div>	
</div>	

</body>

</html>
