<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Strict//EN”   “http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd”>
<html>
<head>
<title>Treat Chewie</title>
<link rel="apple-touch-icon" href="{{static_url('img/apple-touch-icon.png')}}" />
<LINK href="{{static_url('css/main.css')}}" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){

	$("body").ready(function(){
	$('#homeBG').fadeIn(3000);
	});

	$(".submitButton").click(function(){
		var data = {
			'phone': $('#phone').val(),
			'name': $('#name').val()
		};
		$.ajax({
			type: 'POST',
			url: '/add',
			data: data,
			success: function(data) {
				console.log(data);
				if (data.success) {
					$("#success_response").toggle();
					$("#appointment").html(data.treat_time);
				} else if (data.error) {
					$("#error_response").toggle();
					$("#error_message").html(data.message);
				}
				$("#homeBG").fadeOut(700);
				$('#submitWrapper').delay(800).fadeIn(1000);
			},
			error: function() {
				console.log('error');
			}
		});  
	});

	$(".howitworks").click(function(){
		$("#homeBG").fadeOut(700);
		$("#submitWrapper").fadeOut(700);
		$('#howitworksWrapper').delay(800).fadeIn(1000);
	});

	$(".home").click(function(){
		$("#howitworksWrapper").fadeOut(700);
		$("#submitWrapper").fadeOut(700);
		$('#homeBG').delay(800).fadeIn(1000);
	});

});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1073311-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>

<div id="share">
	<p class="share">share</p>	
	<a class="fbshare" name="fb_share" type="icon" share_url="http://www.treatchewie.com"></a> 
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
	<a href="https://twitter.com/share?text=Send+@Chewie+treats!&url=http://www.treatchewie.com"><img src="{{static_url('img/tw.png')}}" /></a>
</div>

<div id="homeBG">	
	<div id="homeWrapper">
		<img class="chewiePic" src="{{static_url('img/treatsforchewie.png')}}" />
		<p class="chewieDescription">To send Chewie a treat enter your name and phone number into the input boxes below. Your name will be added to a queue, ten minutes before your turn Chewie will text you, and then when it's your turn Ms. Chewie will call you on facetime so you can see your treat being eaten (yes you have to have an iPhone with facetime and be on wifi).</p>
		
		<div id="howitworksVideo">
			<iframe src="http://player.vimeo.com/video/32905558?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <br>
		

		</div>
		
		
		<form action="/add" method="POST" id="add_form">
			<div class="submit">
				<p>your first name</p>
				<input type="text" id="name" name="name" />
				<div class="clear"></div>
				<p>your phone number</p>
				<input type="text" id="phone" name="phone" />
			</div>	
			<img class="submitButton" src="{{static_url('img/submit.png')}}" />
		</form>
	</div>	
</div>	

<div id="submitWrapper" style="display:none;">
	<img class="clock" src="{{static_url('img/finished.png')}}">
	<div class="row" id="success_response" style="display:none"> 
		<h1>Congratulations, you've scheduled an appointment for:</h1>
		<h2 id="appointment"></h2>
	</div>
	<div class="row" id="error_response" style="display:none">
		<h1 id="error_message"></h2>
	</div>
</div>


</body>

</html>
