<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Strict//EN”   “http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd”>
<html>
<head>
<title>Treat Chewie</title>
<LINK href="{{static_url('css/main.css')}}" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){

	  $("body").ready(function(){
		$('#homeBG').fadeIn(3000);
	  });

	  $(".submitButton").click(function(){
		$.post("/add", $("#add_form").serialize());
		$("#homeBG").fadeOut(700);
		$('#submitWrapper').delay(800).fadeIn(1000);
	  });

	 $(".howitworks").click(function(){
		$("#homeBG").fadeOut(700);
		$("#submitWrapper").fadeOut(700);
		$('#howitworksWrapper').delay(800).fadeIn(1000);
	  });

	 $(".home").click(function(){
		$("#howitworksWrapper").fadeOut(700);
		$("#submitWrapper").fadeOut(700);
		$('#homeBG').delay(800).fadeIn(1000);
	  });

	});
</script>
</head>

<body>

<div id="share">
	<p class="share">share</p>
	<img src="{{static_url('img/fb.png')}}" />
	<a href="https://twitter.com/share?text=I+treated+Chewie+and+you+should+too!&url=http://www.treatchewie.com"><img src="{{static_url('img/tw.png')}}" /></a>
	<p class="howitworks">how it works</p><p class="home">home</p>
</div>

<div id="homeBG">	
	<div id="homeWrapper">
		<img class="chewiePic" src="{{static_url('img/treatsforchewie.png')}}" />
		<p class="chewieDescription">The feel-good interactive feeding experience that makes the cutest dog in the whole wide world the happiest (but not fattest) dog you've ever seen.  To send Chewie a treat enter your name and phone number into the input boxes below. Your name will be added to a queue, 5 minutes before your turn Chewie will text you, and then when it's your turn Ms. Chewie will call you on facetime so you can see your treat being eaten (yes you have to have an iPhone with facetime and be on wifi).</p>
		<form action="/add" method="POST" id="add_form">
			<div class="submit">
				<p>your first name</p><input type="text" name="name" />
				<div class="clear"></div>
				<p>your phone number</p><input type="text" name="phone" />
			</div>	
			<img class="submitButton" src="{{static_url('img/submit.png')}}" />
		</form>
	</div>	
</div>	

<div id="submitWrapper" style="display:none;">
	<img class="clock" src="{{static_url('img/finished.png')}}">
	<div class="row"> 
		<h1>Sunday, October 30</h1>
		
	</div>
</div>

<div id="howitworksWrapper" style="display:none;">
	<img src="{{static_url('img/howitworks.png')}}" />
	
	<p class="howitworksDescription">The easiest way to break down what's going on with our treat machine is to break it into two workflows: what the user sees and what is happening with Chewie and her treat machine aka what's actually happening.</p>

	<p class="howitworksDescription">What the user sees:<br>
	When a user enters their name and phone number they are added to the Chewie treat queue.  When it's time for their treat dispensed they'll receive a Facetime call where they'll get to see their treat drop and Chewie enjoy it!</p>

	<p class="howitworksDescription">What's actually happening:<br>
	To understand what's going on it's best to first understand how the actual treat machine works.  The treat machine body is a gumball machine that was modified to dispense dog treats instead of gumballs and also had its coin mechanism replaced with a servo controlled by an ardiuno.  The ardiuno controlled treat machine and a webcam are plugged into a mac mini that is running a web server which is hosting www.treatchewie.com.  Using a combination of python, arduino code, and applescript we are able to control the treat dispenser as well as make facetime calls.	</p>
<p class="howitworksDescription">
	For those of you interested in building your own treat machine, a detailed set of build instructions will be available on <a href="www.hackaddict.net">hackaddict.net</a> in the near future.</p>

	Some things to note:
	<ul>
	<li>Chewie is only receives treats once an hour on the hour</li>
	<li>Chewie is only open for treat business Monday through Friday 10a-6p</li>
	<li>In order to recieve Chewie's call you must have an iPhone with Facetime and you must be on WIFI at the time of the call</li>
	</ul>

</div>


</body>

</html>
